@model ChampionsLeagueTeamsApp.Models.Player

@{
    ViewData["Title"] = "Player Details";
}

<h2>@Model.Name</h2>

<div>
    <strong>Position:</strong> @Html.DisplayFor(m => m.Position)
</div>
<div>
    <strong>Goals:</strong> @Html.DisplayFor(m => m.Goals)
</div>
<div>
    <strong>Team:</strong> @Html.DisplayFor(m => m.Team.Name)
</div>

<a asp-action="Index" class="btn btn-primary">Back to List</a>