@model IEnumerable<ChampionsLeagueTeamsApp.Models.Team>

@{
    ViewData["Title"] = "Teams List";
}

<h2>Teams List</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Country</th>
            <th>Champions League Wins</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var team in Model)

        {
            <tr>
                <td>@Html.Encode(team.Name)</td>
                <td>@Html.Encode(team.Country)</td>
                <td>@Html.Encode(team.ChampionsLeagueWins)</td>
                <td>
                    <a class="btn btn-info" asp-controller="Teams" asp-action="Details" asp-route-id="@team.Id">View</a>
                </td>
            </tr>
        }
    </tbody>
</table>