@model IEnumerable<ChampionsLeagueTeamsApp.Models.Coach>

@{
    ViewData["Title"] = "Coaches List";
}

<h2>Coaches List</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Experience (years)</th>
            <th>Team</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var coach in Model)

        {
            <tr>
                <td>@Html.Encode(coach.Name)</td>
                <td>@Html.Encode(coach.Experience)</td>
                <td>@Html.Encode(coach.Team.Name)</td>
            </tr>
        }
    </tbody>
</table>