@model IEnumerable<ChampionsLeagueTeamsApp.Models.Stadium>

@{
    ViewData["Title"] = "Stadiums List";
}

<h2>Stadiums List</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Capacity</th>
            <th>Location</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var stadium in Model)

        {
            <tr>
                <td>@Html.Encode(stadium.Name)</td>
                <td>@Html.Encode(stadium.Capacity)</td>
                <td>@Html.Encode(stadium.Location)</td>
            </tr>
        }
    </tbody>
</table>